# Logs and checkpoints
logs/
__pycache__/
.ipynb_checkpoints/
*.pyc

# Build files
build/
*.c
*.so
*.pyd
monotonic_align/monotonic_align/





# Logs and checkpoints
logs/
__pycache__/

monotonic_align/monotonic_align/


models_for_infrence/
output/
